In [1]:
from apple_data import generate_apple_sales_data_with_promo_adjustment


# Create test data for model input
test_data = generate_apple_sales_data_with_promo_adjustment(base_demand=1_000, n_rows=1_001)
test_data = test_data.drop(columns=['demand', 'date']).iloc[[-1]]

test_data.to_csv("test_data.csv", index=False)

In [2]:
test_data

,average_temperature,rainfall,weekend,holiday,price_per_kg,promo,previous_days_demand
1000,28.566576,1.405188,1,0,1.542647,0,1640.0

In [3]:
# Create test batch data for model input
test_batch_data = generate_apple_sales_data_with_promo_adjustment(base_demand=1_000, n_rows=10)
test_batch_data = test_batch_data.drop(columns=['demand', 'date'])

test_batch_data.to_csv("test_batch_data.csv", index=False)

In [4]:
test_batch_data

,average_temperature,rainfall,weekend,holiday,price_per_kg,promo,previous_days_demand
0,30.584727,12.212080,0,0,1.333262,0,989.0
1,15.465069,7.372440,1,0,1.956357,0,989.0
2,10.786525,1.700924,1,0,2.198421,0,1110.0
3,23.648154,2.684491,0,0,1.861633,0,1256.0
4,13.861391,2.013523,0,0,2.781717,0,906.0
5,14.674082,2.281109,0,0,2.455626,0,965.0
6,20.558692,1.871252,0,0,2.276917,0,879.0
7,25.138812,4.342813,0,0,0.730149,0,855.0
8,22.308853,0.599279,1,0,2.880621,0,960.0
9,26.102977,1.971698,1,0,1.058829,1,1135.0