In [3]:
from apple_data import generate_apple_sales_data_with_promo_adjustment


# Create test data for model input
test_data = generate_apple_sales_data_with_promo_adjustment(base_demand=1_000, n_rows=1_001)
test_data = test_data.drop(columns=['demand']).iloc[[-1]]

test_data.to_csv("test_data.csv", index=False)

In [4]:
test_data

,date,average_temperature,rainfall,weekend,holiday,price_per_kg,promo,previous_days_demand
1000,2025-02-06 16:57:43.997783,28.566576,1.405188,0,0,1.542647,0,1313.0

In [7]:
# Create test batch data for model input
test_batch_data = generate_apple_sales_data_with_promo_adjustment(base_demand=1_000, n_rows=10)
test_batch_data = test_batch_data.drop(columns=['demand'])

test_batch_data.to_csv("test_batch_data.csv", index=False)

In [8]:
test_batch_data

,date,average_temperature,rainfall,weekend,holiday,price_per_kg,promo,previous_days_demand
0,2025-01-28 16:58:32.417066,30.584727,12.212080,0,0,1.333262,0,989.0
1,2025-01-29 16:58:32.417065,15.465069,7.372440,0,0,1.956357,0,989.0
2,2025-01-30 16:58:32.417064,10.786525,1.700924,0,0,2.198421,0,810.0
3,2025-01-31 16:58:32.417062,23.648154,2.684491,0,0,1.861633,0,956.0
4,2025-02-01 16:58:32.417061,13.861391,2.013523,1,0,2.781717,0,906.0
5,2025-02-02 16:58:32.417059,14.674082,2.281109,1,0,2.455626,0,1265.0
6,2025-02-03 16:58:32.417058,20.558692,1.871252,0,0,2.276917,0,1179.0
7,2025-02-04 16:58:32.417056,25.138812,4.342813,0,0,0.730149,0,855.0
8,2025-02-05 16:58:32.417054,22.308853,0.599279,0,0,2.880621,0,960.0
9,2025-02-06 16:58:32.417046,26.102977,1.971698,0,0,1.058829,1,835.0